.Theme {
    --color_black: #000;

    --color_grey-0: #FAFBFC;
    --color_grey-50: #F0F2F3;
    --color_grey-100: #E5E5E5;
    --color_grey-150: #B8BEC3;
    --color_grey-200: #CCCCCC;
    --color_grey-300: #979797;
    --color_grey-400: #7F8285;

    --color_blue-300: #1774E9;

    --color_red: #FF4F49;

    --space_xxs: 6px;
    --space_xs: 8px;
    --space_s: 11px;
    --space_m: 16px;
    --space_l: 20px;
    --space_xl: 24px;
    --space_xxl: 32px;
    --space_xxxl: 40px;

    --color_layout-separator: var(--color_grey-50);
    --color_inner-separator: var(--color_grey-100);
    --color_table-separator: var(--color_grey-50);

    --color_highlighted: var(--color_red);

    --color_link: var(--color_blue-300);

    --color_typo_primary: var(--color_black);
    --color_typo_secondary: var(--color_grey-400);
    --color_typo_ghost: var(--color_grey-150);

    --dropdown_width_small: 266px;
    --dropdown_width_medium: 320px;


    --text-size_xs: 12px;
    --text-size_s: 13px;
    --text-size_m: 14px;
    --text-size_l: 16px;

    /* Межстрочный интервал */
    --text-line-height_xs: 1.2em;
    --text-line-height_s: 1.3em;
    --text-line-height_m: 1.4em;
    --text-line-height_l: 1.6em;

    font-family: 'YS Text', sans-serif;
}
